<a href="https://colab.research.google.com/github/Ganeshkumar-1358/batch-20_1358/blob/main/py_LAB_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=[10,20,30,40,50]
index_labels=['a','b','c','d','e']
series=pd.Series(data=data,index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
import pandas as pd
data={'Name:':['ganesh','manohar','Naga naidu','rajiv'],
      'Age':[20,23,34,25],
      'city:':['hyd','TS','AP','UP']}
df=pd.DataFrame(data)
print(df)
#basic dataframe operations
#a:accending data
print(df['Name:'])
print(df[['Name:','Age']])
print(df.iloc[1])
print(df.loc[2])
df['Salary']=['2','3','4','5']
#filtering
print(df[df['Age']>20])
#basic statistics
print(df['Age'].mean()) #avg age
print(df['Age'].max())
print(df['Age'].min())
print(df['Age'].count())
print(df['Age'].sum())

        Name:  Age city:
0      ganesh   20   hyd
1     manohar   23    TS
2  Naga naidu   34    AP
3       rajiv   25    UP
0        ganesh
1       manohar
2    Naga naidu
3         rajiv
Name: Name:, dtype: object
        Name:  Age
0      ganesh   20
1     manohar   23
2  Naga naidu   34
3       rajiv   25
Name:    manohar
Age           23
city:         TS
Name: 1, dtype: object
Name:    Naga naidu
Age              34
city:            AP
Name: 2, dtype: object
        Name:  Age city: Salary
1     manohar   23    TS      3
2  Naga naidu   34    AP      4
3       rajiv   25    UP      5
25.5
34
20
4
102

In [16]:
student_data = {
    "stu_id": [101, 102, 103, 104],
    "name": ["Manu", "Ganu", "Panu", "Ramu"],
    "marks": [85, 90, 78, 92],
    "dept": ["CSE", "ECE", "EEE", "MECH"]
}
result=pd.DataFrame(student_data)
print(result)
print(result[result['marks']>80])
print(result['marks'].mean())
result['RESULT']=["pass" if x>=40 else 'fail' for x in result['marks']]
print(result)

   stu_id  name  marks  dept
0     101  Manu     85   CSE
1     102  Ganu     90   ECE
2     103  Panu     78   EEE
3     104  Ramu     92  MECH
   stu_id  name  marks  dept
0     101  Manu     85   CSE
1     102  Ganu     90   ECE
3     104  Ramu     92  MECH
86.25
   stu_id  name  marks  dept RESULT
0     101  Manu     85   CSE   pass
1     102  Ganu     90   ECE   pass
2     103  Panu     78   EEE   pass
3     104  Ramu     92  MECH   pass

In [17]:
import pandas as pd
df = pd.read_excel("student_data.xlsx")
df["total"] = df[["m1", "m2", "m3"]].sum(axis=1)
df["avg"] = df["total"] / 3
df["result"] = ["pass" if x >= 40 else "fail" for x in df["avg"]]
print(df)

  sname  sroll  m1  m2  m3  total        avg result
0  Manu      1  80  70  85    235  78.333333   pass
1  Ganu      2  65  55  60    180  60.000000   pass
2  Panu      3  90  88  75    253  84.333333   pass
3  Ramu      4  45  60  40    145  48.333333   pass
4  Tanu      5  72  68  80    220  73.333333   pass